body{
margin: 0 !important;
padding: 0 !important;
}

.Container{
	position: relative;
	margin-top: 0;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 100px;
	max-width: 800px;
	background: #50A9B9;
}
.header{
	padding: 0 35px;
	border-spacing: 20px;
	background: #50A9B9;
	display: flex;
}
.logo{
	margin: auto;
}
.content{
	background: black url("../IMG/XD.png");
	background-size: 100%;
	max-width: 800px;
	height:800px;
	
}