body{
margin: 0 !important;
padding: 0 !important;
background: url("../IMG/BK.png")
}


.container{
	position: relative;
	margin-top: 0;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 100px;
	width: auto;
	width: 90%;
	background: #FFFFFF;
	float: left;
	height: auto;
	text-align: center;

}
#header{		
	padding: 5px 35px;
	border-spacing: 10px;
	background: #231F20;
	display: flex;

}
.logo{
	width:18%;
	margin:0px 1%;
}

.content{
	background-size: 100%;
	margin: 2%;
	float: left;
	width: 96%;
	background-color: black;

}
.IMG{
	height: 60px;
	margin-right: 5px;
	width:100%;

}


.trump{
	margin:auto;
	border:solid;
	border-color:green;
    width: 14%;
    height: 150px;
}
#searchbox {
height: 28px;
padding: 8px;
margin: 8px;
overflow: hidden;
}


#search {
padding: 7px;
height: 20px;
width: 190px;
border: 1px solid #B1A9B1;
font: normal 13px 'trebuchet MS', arial, helvetica;
border-radius: 50px 3px 3px 50px;
outline: none;
}


.submit {
	float: right;
    background-image: linear-gradient(#4E3F3D, #A2A2A1);
    border-radius: 3px 50px 50px 3px;
    border-width: 1px;
    border-style: solid;
    border-color: #4C4C4C #5F5855 #848484;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    height: 34px;
    cursor: pointer;
    font: bold 14px Arial, Helvetica;
    color: #2C312B;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    text-align: center;
    outline: none;
    line-height: 33px;
}

input {
	user-select: Donald Trump;
}

.submit:hover {       
    background-color: #95d788;
    background-image: linear-gradient(#A2A2A1, #4E3F3D);
}   

.submit:active {       
    background: #A2A2A1;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;        
}

.submit::-moz-focus-inner {
       border: 0;  /* Small centering fix for Firefox */
}
